---
// Define the steps with their details
const steps = [
  {
    id: 1,
    title: "Flat Organization",
    description:
      "We are a flat organization that owns our technology to keep overhead low.",
    aosDuration: "500",
  },
  {
    id: 2,
    title: "Artificial Intelligence",
    description:
      "We use AI to be more efficient and to leverage trends in data.",
    aosDuration: "1000",
  },
  {
    id: 3,
    title: "Experienced Specialists",
    description:
      "Our deep industry expertise means we find dollars insurance companies thought were safe.",
    aosDuration: "1500",
  },
  {
    id: 4,
    title: "Accountability",
    description: "We hold insurance companies accountable.",
    aosDuration: "2500",
    specialStyle: true,
  },
];
const features = [
  {
    title: "Algorithmic Payout Analysis",
    description:
      "We can identify trends across carriers to identify underpaid claims.",
  },
  {
    title: "Automatic Appeals",
    description:
      "We automatically generate and justify appeals based on years of payout data",
  },
  {
    title: "Deep Reporting",
    description:
      "Understand your own practice data better with our deep reporting tools.",
  },
];
---

<section class="relative overflow-hidden">
  <div class="mx-auto max-w-7xl px-8 py-24 md:px-12 lg:px-36">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="font-display text-4xl text-white">
        Our difference <span class="text-onyx-400 md:block">
          Everything we do is designed to return more dollars for our clients.
        </span>
      </h3>
    </div>
    <div class="relative mt-24 flex flex-wrap">
      <div class="-z-1 absolute left-0 right-0 top-8 hidden h-[1px] lg:block">
        <div
          class="h-[1px] w-full bg-blue-300"
          data-aos="fade-left"
          data-aos-duration="3000"
        >
          &zwnj;
        </div>
      </div>
      <div class="relative grid grid-cols-2 gap-6 lg:grid-cols-4">
        {
          steps.map((step) => (
            <div class="w-full border-b border-onyx-800 pb-4">
              <span
                data-aos="fade-down"
                data-aos-duration={step.aosDuration}
                class={`mb-5 flex h-16 w-16 items-center justify-center rounded-xl border border-blue-500 bg-gradient-to-tr from-blue-500 to-blue-400 text-white shadow-massive lg:mb-16 ${step.specialStyle ? "shadow-[0px_0px_0px_3px_#5576F9,0px_0px_0px_6px_rgba(124,150,250,0.5)]" : ""}`}
              >
                {step.id}
              </span>
              <div>
                <p class="mt-12 text-xl font-medium leading-6 text-white">
                  {step.title}
                </p>
                <p class="mt-4 text-base text-white opacity-50">{step.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="relative mt-24 h-full rounded-4xl border border-onyx-800 bg-gradient-to-tr from-blue-500 to-blue-400  p-8 text-center shadow-big ring-1 ring-onyx-800 lg:col-span-full lg:p-20"
    >
      <h4 class="font-display text-white lg:text-3xl">
        "Fluidity AI always has my back.
        <span class="md:block">They just get me."</span>
      </h4>
      <p class="mt-6 text-xl uppercase italic text-onyx-300">
        Dr. Gerard Depardieu
      </p>
    </div>
    <div
      class="mt-24 grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-x-6 lg:text-center"
    >
      {
        features.map((feature) => (
          <div class="border-b border-onyx-800 pb-4">
            <p class="text-xl font-medium leading-6 text-white">
              {feature.title}
            </p>
            <p class="mt-4 text-base text-white opacity-50">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
