---
// Define the steps with their details
const steps = [
  {
    id: 1,
    title: "Submit",
    description: "Subscribe to a plan & request as many designs as you'd like.",
    aosDuration: "500",
  },
  {
    id: 2,
    title: "Refine",
    description: "Receive your design within a few business days on average.",
    aosDuration: "1000",
  },
  {
    id: 3,
    title: "Build",
    description: "We'll revise the designs until you're 100% satisfied.",
    aosDuration: "1500",
  },
  {
    id: 4,
    title: "Enjoy",
    description: "Enjoy your marvellous new website!",
    aosDuration: "2500",
    specialStyle: true,
  },
];
const features = [
  {
    title: "Totally async",
    description:
      "Don't like meetings? We don't either; so much so that we've outlawed them.",
  },
  {
    title: "Manage with Trello",
    description:
      "Manage your design board using Trello. View active, queued, and completed tasks.",
  },
  {
    title: "Invite unlimited team members",
    description:
      "Invite your entire team, so anyone can submit requests and track their progress.",
  },
];
---
<section class="overflow-hidden relative">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-36 max-w-7xl">
    <div
      data-aos="fade-up"
      data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        We did reinvented the <span class="md:block text-onyx-500"
          >wheel and also just design</span
        >
      </h3>
    </div>
    <div class="relative flex flex-wrap mt-24">
      <div class="absolute top-8 left-0 right-0 hidden lg:block h-[1px] -z-1">
        <div
          class="h-[1px] w-full bg-blue-300"
          data-aos="fade-left"
          data-aos-duration="3000">
          &zwnj;
        </div>
      </div>
      <div class="grid grid-cols-2 gap-6 lg:grid-cols-4 relative">
        {
          steps.map((step) => (
            <div class="w-full pb-4 border-b border-onyx-800">
              <span
                data-aos="fade-down"
                data-aos-duration={step.aosDuration}
                class={`flex items-center justify-center w-16 h-16 mb-5 lg:mb-16 text-blue-300 rounded-xl border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-massive ${step.specialStyle ? "shadow-[0px_0px_0px_3px_#5576F9,0px_0px_0px_6px_rgba(124,150,250,0.5)]" : ""}`}>
                {step.id}
              </span>
              <div>
                <p class="mt-12 text-xl font-medium leading-6 text-white">
                  {step.title}
                </p>
                <p class="mt-4 text-base text-onyx-300">{step.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="text-center ring-1 ring-onyx-800 border bg-gradient-to-tr from-onyx-950 to-onyx-700 border-onyx-800 shadow-big h-full lg:col-span-full lg:p-20 mt-24 p-8 rounded-4xl relative">
      <h4 class="lg:text-3xl text-white font-display">
        "Aubergine Studio are a rare breed of designers
        <span class="md:block"
          >and developers they understands business needs."</span
        >
      </h4>
      <p class="text-onyx-300 text-xl mt-6 italic uppercase">
        Gerard Depardieu
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-x-6 mt-24 lg:text-center">
      {
        features.map((feature) => (
          <div class="pb-4 border-b border-onyx-800">
            <p class="text-xl font-medium leading-6 text-white">
              {feature.title}
            </p>
            <p class="mt-4 text-base text-onyx-300">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
