---
import siteConfig from "@/config/site.js";

const testimonials = [
  {
    name: "Dr. Dave Carry",
    testimonial:
      "From the very beginning we saw payments increase and we are finally\n" +
      "          getting paid what’s reasonable and customary for both our professional\n" +
      "          practices and ASCs.",
    role: "",

    imgSrc: "/doctors/carry.png", // No image for this testimonial
    imgAlt: "Dr. Carry",
    classes: "hidden lg:block",
  },
  {
    name: "Dr. Scott Frogley",
    // role: "CEO, Auto Anomaly",
    testimonial:
      "Working with Fluidity-ai has been an absolute pleasure. From the moment we engaged their services, they demonstrated an unparalleled level of professionalism and expertise in handling our needs. Their team is not only highly knowledgeable about the intricate details of medical billing but also incredibly efficient in their processes, ensuring that our revenue cycle management operates smoothly and effectively.",
    imgSrc: "/doctors/frogley.png",
    imgAlt: "Dr. Frogley",
    classes: "lg:col-span-2",
  },
  {
    name: "Dr. Seth Clark",
    // role: "Phoenix Medical Group",
    testimonial:
      "I recommend Fluidity-ai to any healthcare provider seeking a billing partner who not only delivers results but also prioritizes customer satisfaction.  Their expertise has increased our average reimbursements and has been a very painless process for us. Working with their team has been an absolute pleasure, and we look forward to continuing our partnership for years to come.",

    imgSrc: "/doctors/clark.png",
    imgAlt: "Dr. Clark",
    classes: "lg:col-span-4",
  },
  // {
  //   name: "Dr. Thatguy",
  //   role: "Arizona Medical Group",
  //   testimonial: `I have never seen a team work as hard as the team at Fluidity AI. They are always on the ball and ready to help.`,
  //   imgSrc: null, // No image for this testimonial
  //   imgAlt: null,
  //   classes: "hidden lg:block",
  // },
];
---

<section class="overflow-hidden">
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36 lg:py-24">
    <div class="max-w-3xl text-center lg:mx-auto">
      <h3 class="font-display text-4xl text-white">
        We work with the creme of the
        <span class="text-onyx-400 md:block"
          >crop and this is what they have to say</span
        >
      </h3>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        testimonials.map((testimonial, index) => (
          <li class={`${testimonial.classes} space-y-4`}>
            <figure class="h-full rounded-3xl border border-onyx-800 bg-gradient-to-tr from-onyx-500 to-onyx-400 p-4 shadow-massive lg:p-8">
              <div class="group flex h-full flex-col justify-between">
                <div
                  class={`flex gap-4 pb-6 ${testimonial.imgSrc ? "flex-col md:flex-row lg:items-center" : ""}`}
                >
                  {testimonial.imgSrc && (
                    <div class="overflow-hidden lg:p-2">
                      <img
                        alt={testimonial.imgAlt}
                        src={testimonial.imgSrc}
                        class="h-20 w-20 shrink-0 rounded-full object-cover grayscale"
                      />
                    </div>
                  )}
                  <div>
                    <span
                      class={`font-medium leading-6 text-white ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                    >
                      {testimonial.name}
                    </span>
                    <p>
                      <a
                        class={`text-white ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                        href="#_"
                      >
                        {testimonial.role}
                      </a>
                    </p>
                  </div>
                </div>
                <blockquote class="mt-2">
                  <p
                    class={`text-white ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                  >
                    {testimonial.testimonial}
                  </p>
                </blockquote>
              </div>
            </figure>
          </li>
        ))
      }
    </ul>
  </div>
</section>
