---
import siteConfig from "@/config/site.js";

const testimonials = [
  {
    name: "Seth Clark",
    role: "Surgeon",
    testimonial: `Fluidity AI has been an integral part of our success. We have seen a notable increase in returns since we started working with them.`,
    imgSrc: null, // No image for this testimonial
    imgAlt: null,
    classes: "hidden lg:block",
  },
  {
    name: "Juan Gonzalez",
    role: "CEO, Auto Anomaly",
    testimonial: `I talk to the team Fluidity AI almost every day. They are my best friends.`,
    imgSrc:
      "https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg",
    imgAlt: "Gabriel Perales",
    classes: "lg:col-span-2",
  },
  {
    name: "Dr. So-and-so",
    role: "Phoenix Medical Group",
    testimonial: `${siteConfig.name} is a rare breed of revenue cycle management that knows how to get it done. And by it I mean revenue cycle management.`,
    imgSrc:
      "https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg",
    imgAlt: "Volkan Kaya",
    classes: "lg:col-span-2",
  },
  {
    name: "Dr. Thatguy",
    role: "Arizona Medical Group",
    testimonial: `I have never seen a team work as hard as the team at Fluidity AI. They are always on the ball and ready to help.`,
    imgSrc: null, // No image for this testimonial
    imgAlt: null,
    classes: "hidden lg:block",
  },
];
---

<section class="overflow-hidden">
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36 lg:py-24">
    <div class="max-w-3xl text-center lg:mx-auto">
      <h3 class="font-display text-4xl text-white">
        We work with the creme of the
        <span class="text-onyx-400 md:block"
          >crop and this is what they have to say</span
        >
      </h3>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        testimonials.map((testimonial, index) => (
          <li class={`${testimonial.classes} space-y-4`}>
            <figure class="h-full rounded-3xl border border-onyx-800 bg-gradient-to-tr from-onyx-950 to-onyx-700 p-4 shadow-massive lg:p-8">
              <div class="group flex h-full flex-col justify-between">
                <div
                  class={`flex gap-4 pb-6 ${testimonial.imgSrc ? "flex-col md:flex-row lg:items-center" : ""}`}
                >
                  {testimonial.imgSrc && (
                    <div class="overflow-hidden lg:p-2">
                      <img
                        alt={testimonial.imgAlt}
                        src={testimonial.imgSrc}
                        class="h-20 w-20 shrink-0 rounded-full object-cover grayscale"
                      />
                    </div>
                  )}
                  <div>
                    <span
                      class={`font-medium leading-6 text-white ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                    >
                      {testimonial.name}
                    </span>
                    <p>
                      <a
                        class={`text-onyx-300 group-hover:text-blue-300 ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                        href="#_"
                      >
                        {testimonial.role}
                      </a>
                    </p>
                  </div>
                </div>
                <blockquote class="mt-2">
                  <p
                    class={`text-onyx-300 ${testimonial.imgSrc ? "text-sm lg:text-lg" : "text-sm"}`}
                  >
                    {testimonial.testimonial}
                  </p>
                </blockquote>
              </div>
            </figure>
          </li>
        ))
      }
    </ul>
  </div>
</section>
