---
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
import Home from "@/components/work/WorkEntries.astro";
import WorkEntries from "@/components/work/WorkEntries.astro";
---

<section class="overflow-hidden relative">
  <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
    <div
      data-aos="fade-up"
      data-aos-duration="2000">
      <h3 class="text-4xl text-white font-display">
        Non award winning designs,
        <span class="md:block text-onyx-400">
          and simply just that and that.</span
        >
      </h3>
      <div class="flex flex-wrap mt-12">
        <a
          href="/work/home"
          title="link to your page"
          aria-label="your label"
          class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-300 duration-500 ease-in-out transform border border-onyx-800 bg-onyx-900 rounded-xl focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 focus:ring-offset-onyx-900"
          >See all our work
        </a>
      </div>
    </div>
    <ul
      role="list"
      class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mt-24">
      {
        allPosts.slice(0, 3).map((post) => (
          <WorkEntries
            url={"/work/" + post.slug}
            client={post.data.client}
            work={post.data.work}
            description={post.data.description}
            alt={post.data.client}
            launchDate={post.data.launchDate.toString().slice(10, 15)}
            logo={post.data.logo.url}
          />
        ))
      }
    </ul>
  </div>
</section>
