---
import HeaderGrid from "@/components/global/HeaderGrid.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/blog/EntriesOne.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section class="relative overflow-hidden">
    <HeaderGrid />
    <div
      class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
      <div
        data-aos="fade-down"
        data-aos-duration="3000">
        <h1 class="text-4xl lg:text-5xl text-white font-display">
          Find here all our blog posts tagged with:<span
            class="md:block text-onyx-400">
            {tag}.</span
          >
        </h1>
      </div>

      <ul
        class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4 mt-12 lg:mt-24">
        {
          posts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
