---
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
import WorkEntries from "@/components/work/WorkEntries.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeaderGrid from "@/components/global/HeaderGrid.astro";
---
<BaseLayout>
  <section class="relative overflow-hidden">
    <HeaderGrid />
    <div
      class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
      <div
        class="text-center mx-auto"
        data-aos="fade-down"
        data-aos-duration="3000">
        <h1 class="text-4xl lg:text-5xl text-white font-display">
          Selected work.<span class="md:block text-onyx-400">
            We are proud of this ones.</span
          >
        </h1>
        <p class="text-onyx-300 mt-4">A design agency without a twist</p>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mt-24">
        {
          allPosts.map((post) => (
            <WorkEntries
              url={"/work/" + post.slug}
              client={post.data.client}
              work={post.data.work}
              description={post.data.description}
              alt={post.data.client}
              launchDate={post.data.launchDate.toString().slice(10, 15)}
              logo={post.data.logo.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
